/* --------unlock the Lock Game---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: 1px solid; */
}
.main-container {
  width: 100%;
  height: 100vh;
  background: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container {
  width: 70%;
  height: 100vh;
  background: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.title {
  color: rgb(52, 133, 165);
  text-align: center;
  font-size: 1.3rem;
}
img {
  width: 200px;
  height: 200px;
}
.password {
  width: 200px;
  height: 50px;
  background: rgb(104, 195, 231);
  display: flex;
  justify-content: center;
  align-items: center;
}
.secret-keys {
  color: white;
  letter-spacing: 10px;
  font-size: 2rem;
}

.key-main-container {
  width: 250px;
  height: auto;
  padding: 20px;
  background: #3485a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.key-title {
  color: white;
}
input {
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 1.3rem;
}
.btn {
  padding: 10px 25px;
  background: rgb(104, 195, 231);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(104, 195, 231);
}

.btn:hover {
  background: rgb(52, 133, 165);
  color: white;
  box-shadow: 1px 1px 2px #f8dc3b;
}

.result-container {
  width: 100%;
  height: 51vh;
  background: wheat;
  position: absolute;
  bottom: 0;
  padding: 50px;
  display: none;
  /* display: flex; */
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.password-value {
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: 800;
  text-align: center;
}

.result-message {
  text-align: center;
  font-size: 1rem;
  color: rgb(52, 133, 165);
}
.replay-btn {
  padding: 10px 25px;
  background: rgb(52, 133, 165);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(104, 195, 231);
  color: #fff;
  font-size: 1.1rem;
  box-shadow: 1px 1px 10px #000000;
}

.replay-btn:hover {
  background: rgb(104, 195, 231);
  color: white;
}

/* ---this is not intended for final game, nilagay ko lang to kc marami pang bug  */
.cheat {
  font-size: 0.3rem;
}